<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ele</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>servlet.CommentServlet</servlet-class>
  
  </servlet>
  
  
   <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>servlet.OrderServlet</servlet-class>
  
  </servlet>
  
  
  <servlet>
    <servlet-name>FoodServlet</servlet-name>
    <servlet-class>servlet.FoodServlet</servlet-class>
  
  </servlet>
  
   <servlet>
    <servlet-name>GetNumServlet</servlet-name>
    <servlet-class>servlet.GetNumServlet</servlet-class>
  </servlet>
  
  
  <servlet>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>servlet.RegistServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PHPServlet</servlet-name>
    <servlet-class>servlet.PHPServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodServlet</servlet-name>
    <url-pattern>/FoodServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/RegistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PHPServlet</servlet-name>
    <url-pattern>/PHPServlet</url-pattern>
  </servlet-mapping>
  
  
  
    <servlet-mapping>
    <servlet-name>GetNumServlet</servlet-name>
    <url-pattern>/GetNumServlet</url-pattern>
  </servlet-mapping>
  
  
   <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/CommentServlet</url-pattern>
  </servlet-mapping>
  
    <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
</web-app>