.wl_goshop_logo img{
	/*border: 1px solid red;*/
	height: 100px;
	width: 100px;
}
.wl_goshop_title{
	margin-left: 40px;
}

.wl_goshop_logo{
	
}

.page__bd{
	
	
	/*border: 1px solid red;*/
}


.wl_goshop_header{
	/*border: 1px solid red;*/
	height: 150px;
}
